p,h1,ul{
      font-family: monospace;
}

ul{list-style-type: circle;
    width: 15%;
    margin: auto;
}

span{ font-family: "Times New Roman", Times, serif}

h1{color: blue;
   font-weight: lighter;
}

h2{color: red;}

body {
    background-color: #909497;
    text-align: center;
     }





